services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false

  Tourze\OrderCheckoutBundle\Controller\:
    resource: '../../Controller/'
  Tourze\OrderCheckoutBundle\Repository\:
    resource: '../../Repository/'
  Tourze\OrderCheckoutBundle\Service\:
    resource: '../../Service/'
    public: true
  Tourze\OrderCheckoutBundle\Calculator\:
    resource: '../../Calculator/'
    public: true
  Tourze\OrderCheckoutBundle\Provider\:
    resource: '../../Provider/'
    public: true
  Tourze\OrderCheckoutBundle\EventSubscriber\:
    resource: '../../EventSubscriber/'
    public: true
  Tourze\OrderCheckoutBundle\Procedure\:
    resource: '../../Procedure/'
    public: true

  # 促销匹配器
  Tourze\OrderCheckoutBundle\Promotion\FullReductionMatcher:
    tags:
      - order_checkout.promotion_matcher

  # 接口绑定到具体实现
  Tourze\OrderCartBundle\Interface\CartDataProviderInterface: '@Tourze\OrderCartBundle\Service\CartDataProvider'
  Tourze\OrderCheckoutBundle\Contract\StockValidatorInterface: '@Tourze\OrderCheckoutBundle\Service\BasicStockValidator'
  Tourze\OrderCheckoutBundle\Contract\ShippingCalculatorInterface: '@Tourze\OrderCheckoutBundle\Calculator\BasicShippingCalculator'
  Tourze\OrderCheckoutBundle\Contract\AddressResolverInterface: '@Tourze\OrderCheckoutBundle\Service\BasicAddressResolver'

  # 公共服务别名
  order_checkout.checkout_service:
    alias: Tourze\OrderCheckoutBundle\Service\CheckoutService
    public: true

  order_checkout.price_calculation_service:
    alias: Tourze\OrderCheckoutBundle\Service\PriceCalculationService
    public: true

  order_checkout.coupon_allocation_service:
    alias: Tourze\OrderCheckoutBundle\Service\CouponAllocationService
    public: true
